
@model PagedList.IPagedList<PaginaDefinitivaYolito.Models.Productos>
@using PagedList.Mvc;
@{
    ViewBag.Title = @ViewBag.busqueda;
    Layout = "~/Views/Shared/_Layout.cshtml";
    double? valorCaja = 0;
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                
                <div class="col-md-4 pull-right buscador">
                    <form action="/Home/Buscador/" method="get" id="formBusqueda">
                        <div class="input-group">
                            <input type="text" class="form-control" name="buscar" id="buscar" placeholder="¿Qué buscas?">
                            <span class="input-group-btn">
                                <button class="btn btn-primary " type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>

                    </form>
                    <p id="empty-message" style="color:#ff0000;">

                    </p>
                </div>
                
            </div>
        </div>
        @*Breadcrums*@
        <div class="row">
            <div class="col-md-12 ">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="@Url.Action("Home", "Home")">Home</a>
                        </li>
                        <li class="active">
                           Estás buscando: <strong>@ViewBag.busqueda</strong> 
                        </li>

                    </ol>

                </div>


            </div>
        </div>
        @if (ViewBag.error != null)
        {
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="alert alert-danger">
                        <div class="text-center">
                            @ViewBag.error
                            <a class="btn btn-link" href="@Url.Action("Home","Home")">
                                <i class="fa fa-plus" aria-hidden="true" style="padding-right:10px;"></i>Agregar productos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="divlines">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-2 ">
                    <div class="table">
                        <table class="table-condensed">
                            <tr>
                                <td colspan="2">Ordenar por:</td>
                                <td>
                                    <select style="background:#fff" onchange="location = this.value;">

                                        <option value="@Url.Action("Buscador", "Home", new { buscar = ViewBag.busqueda, FiltroActual = "Default" })">@ViewBag.CurrentSort</option>
                                        <option value="@Url.Action("Buscador", "Home", new { buscar = ViewBag.busqueda, FiltroActual = "Menor" })">Precio de menor a mayor</option>
                                        <option value="@Url.Action("Buscador", "Home", new { buscar = ViewBag.busqueda, FiltroActual = "Mayor" })">Precio de mayor a menor</option>
                                        <option value="@Url.Action("Buscador", "Home", new { buscar = ViewBag.busqueda, FiltroActual = "Marca" })">Marca</option>


                                    </select>
                                </td>

                            </tr>
                        </table>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pull-right">
                    <div class="pull-right">
                        <div class="table">
                            <table class="table-responsive">
                                <tr>
                                    <td align="right">
                                        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                        de @Model.PageCount
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        @Html.PagedListPager(Model, page => Url.Action("Buscador","Home", new { buscar = ViewBag.busqueda, FiltroActual = ViewBag.CurrentSort, page }),
                                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.OnlyShowFivePagesAtATime, new AjaxOptions()
                                    {
                                        HttpMethod = "GET",
                                        
                                    }))
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="divlines">

                    </div>
                </div>
            </div>
            <div class="row" id="resultProductos">

                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="col-sm-12 boxcarro">
                            <div class="mybox1">
                                <a href="@Url.Action("FichaTecnica", "Home", new { id = item.ItemBarCode, nombre = item.ItemName, ftec = item.RefRecId })">
                                    <img src="@Url.Content("~/Content/Productos/" + item.Photo)" alt="prod" class="img-responsive " onerror="imgError(this);" style="width:100%; height:200px;">
                                </a>
                            </div>
                            <div class="mybox2" style="margin-bottom: 50px;">
                                <b> @item.ItemName @item.brandInternet</b>
                            </div>
                            <p>Precio Internet:</p>
                            <div>
                                @if (item.Factor != 0)
                                {
                                    valorCaja = item.Factor * item.Price;
                                    <h4> $ @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:#,##}", Math.Floor(Convert.ToDecimal(valorCaja))) Caja </h4>
                                    <h4> $ @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:#,##}", Math.Floor(Convert.ToDecimal(item.Price))) mt2</h4>
                                }
                                else
                                {
                                    <h4> $ @string.Format(new System.Globalization.CultureInfo("es-CL"), "{0:#,##}", Math.Floor(Convert.ToDecimal(item.Price))) C/U</h4>
                                }


                            </div>

                            <div class="LinkAddtocart">
                                <a href="@Url.Action("ElCarro", "Compra", new { id = item.ItemBarCode,nombre = item.ItemName, canti = 1 })" class="btn btn-default add-to-cart btn-block" id="agregacarro">Agregar al carro <i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                }

            </div>



            <div class="row">
                <div class="col-md-12 ">
                    <div class="divlines">

                    </div>

                </div>
                <div class="col-md-6 col-sm-6 pull-right">
                    <div class="pull-right">
                        <div class="table">
                            <table class="table-responsive">
                                <tr>
                                    <td align="right">
                                        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                        de @Model.PageCount
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        @Html.PagedListPager(Model, page => Url.Action("Buscador", "Home", new { id = ViewBag.busqueda, buscar = ViewBag.busqueda, FiltroActual = ViewBag.CurrentSort, page }),
                                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.OnlyShowFivePagesAtATime, new AjaxOptions()
                                    {
                                        HttpMethod = "GET",

                                    }))
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        }
        


    </div>


</section>
<br />
<script>
    function imgError(image) {
        image.onerror = "";
        image.src = '@Url.Content("~/Content/Imagenes/Sitio/MARCA-DE-AGUA-YOLITO.jpg")';
        return true;
    }
</script>