@model PaginaDefinitivaYolito.Models.EnviaCVModel
@{
    ViewBag.Title = "Trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        if ('@ViewBag.Message' == 'Sent') {
            alert('Postulación de trabajo enviada correctamente.');
        }
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="col-md-4 pull-right buscador">
                <form action="/Home/Buscador/" method="get" id="formBusqueda">
                    <div class="input-group">

                        <input type="text" class="form-control" name="buscar" id="buscar" placeholder="¿Qué buscas?">
                        <span class="input-group-btn">
                            <button class="btn btn-primary " type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>

                </form>
                <p id="empty-message" style="color:#ff0000;">

                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Home", "Home")">Home</a>
                    </li>
                    <li class="active">
                        Trabaja con nosotros
                    </li>
                </ol>
                @*@Html.Raw(MvcBreadCrumbs.BreadCrumb.Display())*@
                @*Estas en: @Html.MvcSiteMap().SiteMapPath()*@

            </div>
            <div class="divlines">

            </div>
        </div>

    </div>
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title2 text-center">Trabaja con nosotros:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-form">
                    <!--sign up form-->
                    
                @using (Html.BeginForm("Trabajo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => m.rut, new { @class = "form-control", @placeholder = "Rut sin puntos y con guión", @oninput = "checkRut(this)" })
                    @Html.TextBoxFor(m => m.NombreCompleto, new { @class = "form-control", @placeholder = "Nombre Completo" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email" })
                    @Html.TextBoxFor(m => m.TelefonoFijo, new { @class = "form-control", @placeholder = "Teléfono Fijo" })
                    @Html.TextBoxFor(m => m.TelefonoMovil, new { @class = "form-control", @placeholder = "Teléfono movil" })
                    @Html.TextBoxFor(m => m.Dirección, new { @class = "form-control", @placeholder = "Dirección" })
    @*<table>
        <tr>
            <td width="auto">@Html.DropDownListFor(model => model.Comuna, new SelectList(ViewBag.Comunas, "NAME", "NAME", new { @class = "form-control", id = "Comunas" }))</td>
        </tr>
    </table>*@
                    <div class="form-group">
                        Carga tú Currículum:
                        <input type="file" name="file" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block ">Enviar</button>
                }
                    
                </div><!--/sign up form-->
            </div>
        </div>
    </div>

</div>
<br />