@model IEnumerable<PaginaDefinitivaYolito.Models.DetalleCarro>
@{
    ViewBag.Title = "MetodoDePago";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int total = 0;
    int price = 0;
    int ncarro = 0;
    int result = 0;
    string npedido = Session["cart"].ToString();
    int np = Convert.ToInt32(npedido);
    int costoDespacho = 0;
    
}
<div class="container">
    <div class="row">
        <div class="col-md-8 ">
            <div class="breadcrumbs">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="@Url.Action("Home", "Home")">Home</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CarroDeCompras", "Compra")">Carro de compras</a>
                        </li>
                        <li >
                            <a href="@Url.Action("Despacho", "ConfirmaCompra", new { id = np })">Despacho</a>
                        </li>
                        <li class="active">
                            Pago
                        </li>
                    </ol>

                </div>
            </div>
        </div>

        <div class="col-md-4 pull-right buscador">
            <form action="/Home/Buscador/" method="get" id="formBusqueda">
                <div class="input-group">

                    <input type="text" class="form-control" name="buscar" id="buscar" placeholder="¿Qué buscas?">
                    <span class="input-group-btn">
                        <button class="btn btn-default " type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>

            </form>
            <p id="empty-message" style="color:#ff0000;">

            </p>
        </div>

    </div>

</div>
<br />
@if (Session["cart"] == null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="alert alert-danger">
                    <p>Tu carro expiró. </p>
                    <a href="@Url.Action("Home", "Home")" class="btn btn-primary">Volver al inicio</a>

                </div>
            </div>

        </div>
    </div>

}
else
{
    if (ViewBag.error != null)
    {
        <div class="container">
            <div class="col-md-4 col-lg-offset-4">
                <div class="alert alert-danger">
                    @ViewBag.error
                </div>
            </div>
        </div>
    }
    else
    {

        <section>
            <div class="container">

                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="fontUpper">Detalle de tu compra</h3>
                    </div><!--/register-req-->
                </div>

                <div class="row">
                    <div class="table ">
                        <table class="table ">
                            <tr>
                                <td colspan="2" align="center"><strong>Producto</strong></td>
                                <td align="center"><strong>Cantidad</strong>  </td>
                                <td align="center"><strong>Precio</strong>  </td>
                            </tr>
                            @foreach (var item in Model)
                            {
                                if (item.NPedido == np)
                                {
                                    string precio = string.Format("{0:#,##}", item.Precio);
                                    price = Convert.ToInt32(Double.Parse(precio) * item.Cantidad);
                                    double subtotal1 = Double.Parse(precio) * item.Cantidad;
                                    ncarro = item.NPedido.Value;

                                    <tr>
                                        <td> <img src="~/Content/productos/@item.Photo" style="max-width: 100%; max-height: 80px;" alt=""></td>
                                        <td align="left"> @item.ItemName</td>
                                        <td align="center"> @item.Cantidad</td>
                                        <td align="center">$@string.Format("{0:#,##}", price) </td>
                                    </tr>
                                    total += Convert.ToInt32(subtotal1);
                                    if (ViewBag.despacho != null)
                                    {
                                        costoDespacho = ViewBag.despacho;
                                        result = total + costoDespacho;
                                    }
                                    else
                                    {
                                        result = total;
                                    }
                                    
                                    
                                }

                            }

                            <tr>
                                <td colspan="2" align="right"><strong>Despacho</strong> </td>
                                <td align="center"><strong>Subtotal</strong></td>
                                <td align="center"><strong>Total</strong></td>
                            </tr>
                            @if (ViewBag.despacho != null)
                            {
                                <tr>
                                    <td colspan="2" align="right"><p>Valor del despacho: $@ViewBag.despacho.ToString("#,##")</p></td>
                                    <td align="center"><p>$@total.ToString("#,##")</p></td>
                                    <td align="center"><b>$@result.ToString("#,##")</b></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    @if (ViewBag.Tienda == "01")
                                    {
                                        <td colspan="2" align="right"><p> Retira en tienda: Las Condes</p></td>
    
                                    }
                                        
                                    
                                    @if (ViewBag.Tienda == "02")
                                    {
                                        <td colspan="2" align="right"><p> Retira en tienda: Colina</p></td>
                                    }
                                         
                                   @if (ViewBag.Tienda == "03")
                                   {
                                    <td colspan="2" align="right"><p> Retira en tienda: Quilicura</p></td>
                                   }


                                    @*<td colspan="2" align="right"><p> Retira en tienda: @ViewBag.Tienda</p></td>*@
                                    <td align="center"><p>$@total.ToString("#,##")</p></td>
                                    <td align="center"><b>$@result.ToString("#,##")</b></td>
                                </tr>
                            }

                        </table>

                    </div>

                </div>

                <div class="row">
                    <a href="@Url.Action("CarroDeCompras","Compra")" class="btn btn-primary ">Volver al carro </a>

                </div>

                <br />
                <div class="shopper-informations">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Transferencia</label><div><input type="checkbox" value="Transferencia" name="trans" id="trans" /></div>
                        </div>
                        <div class="col-xs-6">
                            <label>Webpay</label><div><input type="checkbox" value="Webpay" name="webpay" id="webpay" /></div>
                        </div>

                        <br />
                        <div class="col-sm-6">
                            <b>
                                Estimado cliente, si eligió esta opción debe ingresar a SU BANCO para realizar la transferencia 
                            </b>
                            
                            <div class="bill-to">
                                <div class="" id="divTransferencia" tabindex="-1">
                                    <h4>Datos para realizar la transferencia: <i class="fa fa-money" aria-hidden="true"></i></h4>
                                    <table class="table table-hover">
                                        <tr>
                                            <td>A nombre de:</td>
                                            <td><span style="font-weight:bold">Yolito Balart Hnos.</span></td>
                                        </tr>
                                        <tr>
                                            <td>Rut:</td>
                                            <td><span style="font-weight:bold">80.565.900-9</span></td>
                                        </tr>
                                        <tr>
                                            <td>Tipo de cuenta</td>
                                            <td><span style="font-weight:bold">Cuenta Corriente</span></td>
                                        </tr>
                                        <tr>
                                            <td>Numero de cuenta</td>
                                            <td><span style="font-weight:bold"><label>1730736101</label></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Banco: 
                                            </td>
                                            <td>
                                                <span style="font-weight:bold">Banco Chile</span>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Correo:</td>
                                            <td><span style="font-weight:bold">depositos@yolito.cl</span></td>
                                        </tr>
                                        <tr>
                                            <td>Asunto: </td>
                                            <td><span style="font-weight:bold;">Pago por transferencia del pedido AWeb_@ncarro </span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><h4>*El numero del pedido es muy importante para nosotros, favor revisar numero de pedido antes de realizar la transferencia. De lo contrario, tu pedido no será ingresado.</h4></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><a class="btn btn-primary btn-block" href="@Url.Action("ConfirmaTransferencia", "ConfirmaCompra", new { id = @ncarro })">Confirmar</a></td>
                                        </tr>
                                    </table>
                                    <div></div>
                                </div>


                            </div>
                        </div>
                        <div class="" id="divWebpay">
                            <form method="post" action="~/cgi-bin/tbk_bp_pago.cgi">
                                <div class="col-md-4">
                                    <img src="~/Content/Imagenes/Sitio/Webpay_VertTarj_VA_Transb chica.jpg" class="img-responsive" />

                                    <input type="hidden" name="TBK_TIPO_TRANSACCION" value="TR_NORMAL" readonly>
                                    <input type="hidden" name="TBK_MONTO" value="@result.ToString("#,##")00" readonly>
                                    <input type="hidden" name="TBK_ORDEN_COMPRA" value="@ncarro" readonly>
                                    <input type="hidden" name="TBK_ID_SESION" value="@ViewBag.RutUsuariocomprador" readonly>
                                    <input type="hidden" name="TBK_URL_EXITO" size=40 value="http://www.yolito.cl/WebPay/Exito1" readonly>
                                    <input type="hidden" name="TBK_URL_FRACASO" size=40 value="http://www.yolito.cl/WebPay/Fracaso" readonly>
                                    <br />
                                    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-credit-card" aria-hidden="true" style="padding-right:10px;"></i>Pagar</button>
                                </div>

                            </form>

                        </div>
                        

                    </div>
                </div>

            </div>
        </section>
    }
}
<br />
<script>
    $(document).ready(function () {
        $("#divTransferencia").hide();
        $("#divWebpay").hide();

        $("#trans").click(function () { //retiro en local
            $("#divTransferencia").slideDown();
            $("#webpay").prop("checked", "");
            $("#divWebpay").hide();
        });
        $('#webpay').change(function () {
            $("#divTransferencia").hide();
            $("#divWebpay").slideDown();
            $("#trans").prop("checked", "");
        });

    });

</script>